.config/micro/backups/
.config/micro/buffers/
.config/micro/plug/
.config/micro/buffers/history
.config/btop/btop.log
.config/tmuxinator/paths
.config/tmuxinator/proxy.yml
.config/tmuxinator/ssh.yml
# .zsh_local
