#!/bin/bash

function code () { VSCODE_CWD="$PWD" open -n -b "com.microsoft.VSCode" --args $* ;}
function updateEnvFile() { 
    gsed -i "/JAVA_HOME=/c export JAVA_HOME=/Library/Java/JavaVirtualMachines/$(ls /Library/Java/JavaVirtualMachines/ | grep jdk-$1)/Contents/Home" ~/.zsh_env
    fresh
}
function hub() { open -a "Google Chrome" $(cat .git/config | grep url | sed -n 's/url = git@github.com:/https:\/\/github.com\//p') ;}
# function reports() { open -a "Google Chrome" $PWD/app/build/reports }
function searchForNewVideos() { node ~/repos/automatedBrowsing/searchForNewVideos.js $(cat ~/repos/automatedBrowsing/searchForNewVideos.json | grep channelName | sed 's/:/ /' | awk '{print $2}' | fzf -m | sed -n 's/,//p' | sed -n 's/"//p' | sed -n 's/"//p') ;}
